/* Reset CSS */

/* Defina margens e preenchimentos para zero */
html,
body,
div,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

/* Defina a altura da fonte para uma aparência consistente em elementos inline */
body,
button,
input,
select,
textarea {
  font-size: 100%;
}

/* Remova a formatação de lista padrão */
ul,
ol {
  list-style: none;
}

/* Redefina as bordas e o preenchimento em elementos de imagem e tabela */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

/* Redefina a formatação do hiperlink */
a {
  text-decoration: none;
  color: inherit;
}

/* Defina a cor de fundo padrão para branco */
body {
  background-color: #fff;
}

/* Adicione um cursor de seta padrão a elementos clicáveis */
a,
button,
input,
select,
textarea {
  cursor: pointer;
}

.main-principal-inicio {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-principal-inicio section,
.main-principal-inicio aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #009090;
  border-radius: 5px;
  box-shadow: 1px 1px;
  border-style: groove;
  margin: 10px;
  padding: 10px;
  max-height: 450px;
  
  transition: 1s;
}
.main-principal-inicio section:hover {
  background-color: #404040;
  transition: 1s;
  color: #bfbfbf;
}

.main-principal-inicio aside:hover {
  background-color: #900000;
  transition: 1s;
  color: #bfbfbf;
}
.main-principal-inicio h2 {
  color: white;
  background-color: cadetblue;
  padding: 4px 5px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabela-objetivos-conteste {
  max-height: 300px;
  overflow-y: auto;
}

.tabela-objetivos-conteste tbody {
  display: block; /* Transforma o tbody em um bloco para que ele respeite a altura máxima */
}

.tabela-objetivos-conteste thead,
.tabela-objetivos-conteste tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Para garantir que as colunas tenham largura fixa */
}

.tabela-objetivos-conteste tbody {
  overflow: auto;
  max-height: 40.5vh;
}

.tabela-objetivos-conteste th,
.tabela-objetivos-conteste td {
  width: 20%; /* Divide igualmente as colunas */
  text-align: center; /* Centraliza o texto nas células */
  font-size: small;
}

.tabela-objetivos-conteste {
  border-collapse: collapse; /* Remove espaçamento entre as células */
}
.tabela-objetivos-conteste th {
  background-color: aliceblue;
}
.tabela-objetivos-conteste td {
  background-color: black;
  color: aliceblue;
  border-bottom: 1px solid white;

  padding: 5px; /* Adiciona espaço interno às células */
  text-align: center; /* Centraliza o conteúdo nas células */
}
.tabela-objetivos-conteste th {
  border: 1px solid #000; /* Adiciona uma borda sólida de 1 pixel em torno das células */
  padding: 5px; /* Adiciona espaço interno às células */
  text-align: center; /* Centraliza o conteúdo nas células */
}
.tela-painel-votos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.votante-lista-seletor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #bfbfbf;
  color: black;
  box-shadow: 1px 1px;
  border-radius: 5px;
  margin: 1px 3px;
  padding: 10px;
  width: 150px;
  height: 110px;
}
.votante-lista-seletor img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 1px 1px;
}

.votante-lista-seletor h3 {
  font: 20px;
}
.votante-lista-seletor p {
  font-size: 10px;
}
.form-votacao-indica {
  text-align: center;
}
.input-text-pesquisa {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
}
/* Estilize o rótulo dos radio buttons */
.radio-label {
  display: block;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.radio-label-selecionado {
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  transition: 0.7s;
}
.radio-label-nao-selecionado {
  margin: 5px 0px;
  transition: 0.7s;
}
/* Estilize os radio buttons ocultos */
.radio-input {
  display: none;
}

/* Estilize a aparência do radio button personalizado */
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #333; /* Cor da borda não marcada */
  border-radius: 50%; /* Torna o radio button redondo */
  position: absolute;
  right: 45px;
  top: 30px;
  display: none;
}

/* Estilize o radio button quando marcado */
.radio-input:checked + .radio-custom {
  border-color: #007bff; /* Cor da borda quando marcado */
  background-color: #007bff; /* Cor de fundo quando marcado */
  display: none;
}

/* Estilize o ponto interno do radio button quando marcado */
.radio-input:checked + .radio-custom::before {
  content: "\2022"; /* Ponto para indicar seleção */
  font-size: 20px;
  line-height: 20px;
  color: #fff; /* Cor do ponto quando marcado */
  text-align: center;
  display: block;
  border-radius: 50%;
  background: transparent; /* Fundo transparente quando marcado */
}

.btn-voto {
  border-radius: 5px;
  font-size: x-large;
  height: 65px;
  width: 220px;
}

.confirm-voto {
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 5vh;
  left: 0;
  bottom: 0;
  /* border-radius: 15px; */
  /* padding: 15px; */
  font-size: xx-large;
  /* height: 25vh; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.confirm-voto-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.confirm-voto-content div:first {
  width: 60%;
}
.confirm-voto-content div:last-child {
  display: flex;
  flex-direction: column;
  
}
.confirm-voto-content p {
  font-size: 16px;
  color: black;
  margin: 1px auto;
  width: 80%;
}

.confirm-voto-content button {
  margin: 5px 3px;
  height: 85px;
  background-color: #000;
  color: white;
}

.sitemap {
  margin: 30px auto;
  background-color: #f8f8f8;
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.sitemap h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: overline #2f4f4f;
}
.sitemap h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline overline #2f4f4f;
}

.sitemap ul {
  list-style: none;
  padding: 0;
}

.sitemap li {
  margin: 5px 0;
}

.sitemap a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 25px;
}

.sitemap a:hover {
  color: #0070f3;
}
