@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset CSS */

/* Defina margens e preenchimentos para zero */
html,
body,
div,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

/* Defina a altura da fonte para uma aparência consistente em elementos inline */
body,
button,
input,
select,
textarea {
  font-size: 100%;
  text-transform: capitalize;
}

/* Remova a formatação de lista padrão */
ul,
ol {
  list-style: none;
}

/* Redefina as bordas e o preenchimento em elementos de imagem e tabela */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

/* Redefina a formatação do hiperlink */
a {
  text-decoration: none;
  color: inherit;
}

/* Defina a cor de fundo padrão para branco */

/* Adicione um cursor de seta padrão a elementos clicáveis */
a,
button,
input,
select,
textarea {
  cursor: pointer;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}
canvas {
  width: 400px;
  height: 80vh;
}

.navBar {
  position: fixed;
  background-color: #111111;
  box-shadow: 0px 0px 15px brown;
  color: rgb(191, 191, 191);
  padding: 13px;
  list-style: none;
  display: flex;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
  overflow: auto;
  margin-bottom: -6px;
  z-index: 999;
  border-radius: 8px;
  justify-content: flex-start;
  transition: 0.7s;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}
.navBarAberta {
  left: -25px;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0;
  transition: 0.7s;
  transition-duration: 0.2s;
}
.navBar span {
  margin: 0 5px;
  position: relative;
  font-size: large;
  width: 100%;
  background: #151515;
  color: white;
  padding: 17px 15px;
  transition: 0.8s;
}
.navBar span:active,
.navBar span:hover {
  transition: 0.8s;
  background-color: brown;
  transition-delay: 0.7s;
}

.navBar ul {
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  padding: 10px;
  list-style: none;
  position: relative;
  right: -20px;
  text-align: center;
  cursor: pointer;
  width: 75%;
  overflow: auto;
  transition: 0.7s;
}
.navBar ul:active {
  transition-delay: 0.7s;

  color: brown;
}

.navBar ul li {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 5px 0;
  align-items: center;

  background-color: black;
}
.navBar ul li:hover,
.navBar ul li:active {
  background-color: whitesmoke;
  text-shadow: 1px 1px 7px gold;
  color: black;
}
.navBar div {
  padding: 11px;
}

.arrou-chamativo {
  transform-origin: center;
  background-color: brown;
  padding: 3px;
  position: absolute;
  border-radius: 5px;
  width: 35px;
  height: 39px;
  bottom: 1px;
  right: 3px;
}

.arrou-bg {
  width: 38px;
  bottom: 73px;
  right: 74px;
}

.contagem {
  display: flex;
  margin: 10px 22px;
  font-size: xx-large;
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px navy, -2px -4px 6px brown;
  position: absolute;
  z-index: 100;
  right: 29%;
  bottom: 21%;
}
.contagem-n {
  display: flex;
  margin: 10px 22px;
  font-size: xx-large;
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px navy, -2px -4px 6px brown;
  position: absolute;
  z-index: 100;
  left: 30%;
  top: 22%;
}
.contagem-r {
  display: flex;
  margin: 10px 22px;
  font-size: xx-large;
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px navy, -2px -4px 6px brown;
  position: absolute;
  z-index: 100;
  right: 29%;
  top: 23%;
}
.contagem-x {
  display: flex;
  font-size: xx-large;
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px navy, -2px -4px 6px brown;
  position: absolute;
  z-index: 100;
  left: 31%;
  bottom: 22%;
}

.contagem-c2 {
  display: flex;
  margin: 10px auto;
  font-size: xx-large;
  background-color: #eeeeee;
  color: white;
  border-radius: 50%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  height: 500px;
  box-shadow: 2px 4px 4px brown, -2px -4px 6px gold;
  position: relative;
  z-index: 100;
}
.contagem-c2 div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contagem-c1 {
  display: flex;
  margin: 10px auto;
  font-size: xx-large;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px gold, -2px -4px 6px navy;
  position: relative;
  z-index: 100;
}
@keyframes backgroundContest {
  0% {
    background-position: -2548px -1469px;
  }
  50% {
    background-position: 1399px -1469px;
  }

  100% {
    background-position: -2548px -1469px;
  }
}
.main-principal-inicio {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 790;
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/4141462-montanhas-por-do-sol-papel-de-parede-sol-atras-do-horizonte-imagem-crepusculo-natural-paisagem-ampla-horizontal-bg-deserto-amanhecer-abafado-cor-de-fundo-ilustracao-vetor.jpg);
  background-position: -2548px -1469px;
  animation: backgroundContest 90s ease-in-out infinite;
}
.main-principal-inicio section,
.main-principal-inicio aside {
  display: flex;
  background-color: #0090904f;
  border-radius: 5px;
  box-shadow: 1px 1px;
  border-style: groove;
  padding: 1px;
  transition: 1s;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.contest-tabela {
  width: 380px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contest-inativ {
  filter: grayscale(100%) blur(2px);
  backdrop-filter: blur(10px);
}
.icone-area-context-texto {
  position: relative;
  top: 5px;
  z-index: 300;
  margin-bottom: -20px;
}
.icone-area-context-stexto {
  position: absolute;
  top: 27px;
  z-index: 300;
  left: -6px;
  background-color: rgba(255, 255, 255, 0.48);
  width: 40px;
  border-radius: 5px;
}
.titulo-area-contest-t1 {
  height: 20px;
  margin-top: 3px;
  overflow-y: hidden;
  width: 308px;
  font-size: 20px;
  text-indent: 38px;
  background-color: cadetblue;
  padding: 4px 0px;
  color: white;
  border: none;
  border-radius: 0px;
  position: relative;
  z-index: 200;
  left: 1px;
  top: -4px;
}
.tituloTh {
  color: white;
  font-size: 11px;
  background-color: cadetblue;
  padding: 4px 5px;
  text-align: center;
}

.text-area-contest-t1 {
  height: 140px;
  margin-top: 3px;
  overflow-y: hidden;
  width: 289px;
  font-size: 14px;
  text-indent: 40px;
  background-color: rgb(47, 79, 79);
  padding: 4px 0px;
  color: white;
  border: none;
  border-radius: 0px;
  position: relative;
  z-index: 200;
  left: 1px;
  top: -26px;
  font-family: math;
  text-transform: lowercase;
  overflow-y: scroll;
}
.text-area-contest-t2 {
  height: 140px;
  margin-top: 3px;
  overflow-y: hidden;
  width: 289px;
  font-size: 14px;
  text-indent: 40px;
  background-color: rgb(47, 79, 79);
  padding: 4px 0px;
  color: white;
  border: none;
  font-family: math;
  text-transform: lowercase;
  border-radius: 0px;
  position: relative;
  z-index: 200;
  left: 1px;
  margin: 13px 0px;
  top: 10px;
  overflow-y: scroll;
}
.text-area-contest-div {
  font-family: math;
  text-transform: lowercase;
}
.text-area-contest-div p{
  margin: 0;
}
.text-area-contest-div h3 {
  background-color: #086464;
}
.text-area-contest-div ul li {
  text-align: left;
  text-indent: 0;
  text-transform: math-auto;
  font-size: small;

}
.main-principal-inicio .contest-tabela {
  background-color: #2f4f4f;
  width: 307px;
  margin: 30px 10px;
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.titulo-barra-contest {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  background-color: #000;
  color: white;
  text-indent: 15px;
  height: 40px;
  box-shadow: 2px 1px 1px black;
  z-index: 900;
}

.titulo-barra-contest input {
  background-color: #000;
  color: #fff;
  border: none;
  height: 15px;
}

.linha-contest-tabela {
  margin-top: 40px;
  text-align: left;
  position: relative;
  left: 7px;
  background-color: #2f4f4f;
  /*background-image: url("https://wallpapers.com/images/hd/australian-outback-dirt-road-je5gdd3rfhxrxrl8.jpg");*/
  background-position: -815px -600px;
}

.linha-contest-tabela .linha-tabela-mor {
  background-color: #2f4f4f;
  width: 308px;
  top: 2px;
  text-indent: 11px;
  box-shadow: 2px 2px 3px black;
  height: 240px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  position: relative;
}
.linha-contest-tabela .descricao-contest {
  position: relative;
  z-index: 800;
  width: 289px;
  box-shadow: 1px 1px 1px black;
  overflow-y: auto;
  background-color: #009090;
  text-indent: 18px;
  font-size: 15px;
  padding: 10px;
  left: 0px;
  top: 7px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.linha-contest-tabela h4 {
  position: relative;
  z-index: 800;
}

@keyframes rotaAtual {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(260deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

span .atual-icone:hover,
span .atual-icone:active {
  transform: rotateZ(0deg);
  animation: rotaAtual 5s ease-in-out;
  animation-delay: 0.3s;
}
.linha-contest-tabela h4 {
  text-shadow: 1px 1px 1px black;
  color: whitesmoke;
  letter-spacing: 5px;
  left: 5px;
  top: -5px;
}
.linha-contest-tabela h3 {
  padding: 7px 0;
  letter-spacing: -1px;
}
.linha-contest-tabela .titulo-1 {
  letter-spacing: 8px;
  left: 7px;
}
.linha-contest-tabela .img-tb-01,
.linha-contest-tabela .img-tb-02 {
  width: 165px;
  position: absolute;
  top: -25px;
  left: 159px;
  z-index: 10;
}
.linha-contest-tabela .img-tb-02 {
  left: 0;
}
.linha-contest-tabela .meta-atual {
  font-size: 45px;
  left: -6px;
  text-shadow: 1px 1px 1px black;
  top: -177px;
}
.linha-contest-tabela .meta-icone {
  left: 2px;
  top: 54px;
}
.linha-contest-tabela span {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: -3px;
  left: -8px;
}

.linha-contest-tabela .texto-contest-test {
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.main-principal-inicio aside:hover {
  background-color: #900000;
  transition: 1s;
  color: #bfbfbf;
}
.main-principal-inicio h2 {
  color: white;
  background-color: cadetblue;
  padding: 4px 5px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.barra-top-top {
  margin: 2px auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: -1px -2px, 1px 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  color: white;
  font-size: large;
  padding: 2px 0px;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.barra-top-top:hover {
  transition: 0.8s;
  box-shadow: 1px -5px 14px, -1px 5px 14px;
}
.barra-top-top select {
  padding: 5px;
  font-size: 20px;
  letter-spacing: 5px;
}
.barra-top-top option {
  letter-spacing: 5px;
  font-size: 30px;
}
.tabela-objetivos-conteste,
.tabela-objetivos {
  max-height: 300px;
  overflow-y: auto;
  width: 311px;
}

.tabela-objetivos-conteste tbody {
  display: block; /* Transforma o tbody em um bloco para que ele respeite a altura máxima */
}

.tabela-objetivos-conteste thead,
.tabela-objetivos-conteste tbody tr {
  margin: 0px auto;
  table-layout: fixed;
  align-items: flex-start;
}

.tabela-objetivos-conteste tbody {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 311px;
}

.tabela-objetivos-conteste th,
.tabela-objetivos-conteste td {
  width: 20%; /* Divide igualmente as colunas */
  text-align: center; /* Centraliza o texto nas células */
  font-size: 25px;
}

.tabela-objetivos-conteste,
.tabela-objetivos {
  border-collapse: collapse; /* Remove espaçamento entre as células */
  margin: 0 auto;
}
.tabela-objetivos-conteste th {
  background-color: aliceblue;
}
.tabela-objetivos-conteste .td-menor {
  background-color: white;
  color: black;
  border-bottom: 4px solid black;
  padding: 37px 0px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 7px;
  transition: 0.7s;
  position: relative;
  z-index: 995;
  width: 350px;
}

.tabela-objetivos-conteste .td-maior {
  background-color: #ffffff73;
  color: black;
  border-bottom: 4px solid black;
  padding: 37px 0px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 7px;
  transition: 0.7s;
  position: relative;
  z-index: 995;
  cursor: pointer;
  width: 350px;
}

.tabela-objetivos-conteste td:hover,
.tabela-objetivos-conteste td:active {
  transition: 0.7s;
  background-color: black;
  color: white;
}
.tabela-objetivos-conteste .ativacao-perfil {
  display: flex;
  transition: 0.7s;
  background-color: black;
  color: white;
  width: 311px;
  transition-delay: 1.7s;
  flex-direction: column;
}
.none-none {
  display: none;
  transition: 0.7s;
}
.tabela-objetivos-conteste td a {
  font-size: 30px;
}
.tabela-objetivos-conteste th {
  border: 1px solid #000; /* Adiciona uma borda sólida de 1 pixel em torno das células */
  padding: 5px; /* Adiciona espaço interno às células */
  text-align: center; /* Centraliza o conteúdo nas células */
}
.tela-painel-votos {
  display: flex;
  max-width: 900px;
  height: 320px;
  min-width: 400px;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.votante-lista-seletor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #bfbfbf;
  color: black;
  box-shadow: 1px 1px;
  border-radius: 5px;
  margin: 1px 1px;
  padding: 10px;
  width: 86px;
  height: 139px;
}

.votante-lista-seletor img {
  width: 85px;
  margin: 0 auto;
  height: 85px;
  border-radius: 5px;
  box-shadow: 1px 1px;
}

.votante-lista-seletor h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: medium;
}
.votante-lista-seletor p {
  font-size: 10px;
}
.div-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.div-buttons button {
  width: 110px;
  height: 40px;
  border-radius: 0;
  font-size: 11px;
}
.equipes {
  width: 330px;
}
.equipes button {
  background-color: gray;
  box-shadow: 1px 1px;
  color: black;
}
.form-votacao-indica {
  text-align: center;
}
.input-text-pesquisa {
  margin: 1px auto;
  padding: 12px;
  width: 64%;
  text-indent: 32px;
  border-radius: 5px;
}
/* Estilize o rótulo dos radio buttons */
.radio-label {
  display: block;
  position: relative;
}
.radio-label-selecionado {
  background-color: white;
  border-radius: 5px;
  padding: 200px 130px;
  transition: 0.7s;
  position: absolute;
  z-index: 99;
  left: 0;
  display: flex;
  right: 0;
  bottom: 0;
  top: 0;
  height: 57vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.radio-label-nao-selecionado {
  margin: 5px 0px;
  transition: 0.7s;
}
/* Estilize os radio buttons ocultos */
.radio-input {
  display: none;
}

/* Estilize a aparência do radio button personalizado */
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #333; /* Cor da borda não marcada */
  border-radius: 50%; /* Torna o radio button redondo */
  position: absolute;
  right: 45px;
  top: 30px;
  display: none;
}

/* Estilize o radio button quando marcado */
.radio-input:checked + .radio-custom {
  border-color: #007bff; /* Cor da borda quando marcado */
  background-color: #007bff; /* Cor de fundo quando marcado */
  display: none;
}

/* Estilize o ponto interno do radio button quando marcado */
.radio-input:checked + .radio-custom::before {
  content: "\2022"; /* Ponto para indicar seleção */
  font-size: 20px;
  line-height: 20px;
  color: #fff; /* Cor do ponto quando marcado */
  text-align: center;
  display: block;
  border-radius: 50%;
  background: transparent; /* Fundo transparente quando marcado */
}

.btn-voto {
  position: relative;
  font-size: x-large;
  height: 41px;
  width: 121px;
  top: 5px;
  color: rgb(234, 234, 234);
  text-decoration: none;
  background-color: rgb(145, 148, 65);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 1px 1px 0px black;
  text-shadow: 1px 1px 0px black;
  border-style: groove;
  transition: 0.8s;
}
.btn-voto:hover {
  box-shadow: 1px 1px 0px white;
  text-shadow: 1px 1px 0px white;
  background-color: rgb(65, 148, 88);
  transition: 0.8s;
}
.qtd-votos {
  font-size: 30px;
  font-family: "Times New Roman";
  background-color: rgb(32, 39, 68);
  border-top-style: groove;
  border-bottom-style: groove;
  border-right-style: groove;
  padding: 6px;
  border-radius: 33px;
  position: relative;
  left: -6px;
}
.tabela-objetivos .ranking-votos {
  border-bottom: 4px solid black;
  padding: 37px 0px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 7px;
  transition: 0.7s;
  position: relative;
  width: 100px;
  color: rgb(234, 234, 234);
  background-color: rgb(26, 26, 26);
  z-index: 10;
}
.tabela-objetivos .ranking-index {
  width: 10px;
  color: rgb(234, 234, 234);
  background-color: rgb(255, 165, 0);
  border-color: rgb(234, 234, 234);
  display: table-cell;
  transition: 0.7s;
}
.ranking-index {
  border-bottom: 4px solid black;
}
.ranking-index img {
  width: 68px;
}
.confirm-voto {
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* border-radius: 15px; */
  /* padding: 15px; */
  font-size: xx-large;
  /* height: 25vh; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.confirm-voto-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  line-height: 27px;
}
.confirm-voto-content div:first {
  width: 60%;
}
.confirm-voto-content div:last-child {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.confirm-voto-content p {
  font-size: 16px;
  color: black;
  margin: 1px auto;
  width: 80%;
}

.confirm-voto-content button {
  margin: 5px 3px;
  height: 85px;
  background-color: #000;
  color: white;
}

.sitemap {
  margin: 71px auto;
  background-color: #f8f8f8;
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.sitemap h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: overline #2f4f4f;
}
.sitemap h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: 1px underline overline #2f4f4f;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.sitemap ul {
  list-style: none;
  padding: 0;
}

.sitemap li {
  padding: 20px;
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  transition: 0.7s;
}
.sitemap li:hover {
  box-shadow: 1px 1px, -1px -1px;
  background-color: #2f4f4f;
  transition: 0.7s;
  color: #000;
}
.sitemap a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 25px;
}

.sitemap a:hover {
  color: #0070f3;
}
.sitemap button {
  box-shadow: 1px 1px, -1px -1px;
  background-color: transparent;
  transition: 0.7s;
  width: 95%;
  height: 80px;
  color: #000;
  border-radius: 6px;
}

.sitemap button:hover {
  box-shadow: 1px 1px, -1px -1px;
  background-color: black;
  transition: 0.7s;
  width: 100%;
  height: 85px;
  color: white;
}
.perfil-container {
  margin: 5px auto;
  text-align: center;
  background-color: #1a1a1a;
  color: #eaeaea;
}

.perfil-container .info {
  text-align: left;
  /* margin: 2px auto; */
  width: 400px;
  margin: 0 auto;
  position: relative;
  text-transform: capitalize;
}

.perfil-container .painel {
  width: 100%;
  background-color: #3d2b1f;
}

.perfil-container p {
  font-size: x-large;
}
.perfil-container .perfil-image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-container .perfil-name {
  font-size: 24px;
  margin: 10px 0;
}

.perfil-container .perfil-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.perfil-list-left,
.perfil-list-right {
  flex: 1;
  text-align: center;
}

.perfil-list-item {
  margin: 5px 0;
  font-size: 18px;
}

.perfil-list-item-label {
  font-weight: bold;
}

.perfil-not-found {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color: red;
}

/* login.css */

.login-container {
  width: 300px;
  margin: 1vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #b7b7b7;
  transform: scale(0.7);
}
.regras-container {
  width: 400px;
  margin: 1vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #b7b7b7;
}

.login-container h2 {
  text-align: center;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 95%;
  padding: 40px 10px;
  margin-bottom: -17px;
  border: 1px groove #ccc;
  border-radius: 3px;
  outline: none;
  text-indent: 50px;
  font-size: x-large;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.login-container button:hover {
  background-color: #0056b3;
}
.login-container .limpar-senha {
  top: -138px;
  left: 256px;
  position: relative;
  width: 60px;
  height: 112px;
  margin-bottom: -44px;
}
.login-container .icone-usuario {
  top: -64px;
  left: 9px;
  position: relative;
  width: 40px;
}

.login-container .icone-senha {
  top: -60px;
  left: 9px;
  position: relative;
  width: 40px;
  height: 38px;
}

.login-container ul {
  margin: 2px auto;
  list-style-type: circle;
}
.login-container ol {
  margin: 2px auto;
  list-style-type: decimal;
}
.login-container li {
  line-height: 25px;
}
.data-aniversario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.data-aniversario select {
  padding: 10px 55px;

  background: black;
  color: white;
  border-radius: 6px;
}
.data-aniversario option {
  font-size: xx-large;
}
.virtual-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}
.virtual-keyboard button {
  width: 90px;
  height: 70px;
  margin: 2px;
  color: #eeeeee;
  border-radius: 8px;
  box-shadow: 2px 2px 1px green;
  background-color: #111111;
  transition: 0.3s;
}
.virtual-keyboard button:hover {
  box-shadow: 2px 2px 1px green, -2px -2px 1px green;
  background-color: #353535;
  transition: 0.3s;
}
.virtual-keyboard img {
  width: 45px;
  transition: 0.4s;
}

.virtual-keyboard img:hover {
  margin-top: -5px;
  width: 50px;
  transition: 0.4s;
}
.alert-danger {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px;
}
/* Altera a barra de rolagem total */
::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
  border-bottom-right-radius: 20px;
}

/* Altera o fundo da barra de rolagem (a trilha) */
::-webkit-scrollbar-track {
  border-bottom-right-radius: 20px;
  background: #2f4f4f; /* Cor de fundo da trilha da barra de rolagem */
}
::-webkit-scrollbar-track:hover {
  background: #2f4f4f; /* Cor de fundo da trilha da barra de rolagem */
  transition: 1.7s;
}

/* Altera a cor do indicador de rolagem (o thumb) */
::-webkit-scrollbar-thumb {
  border-bottom-right-radius: 20px;
  background-color: #2f4f4f; /* Cor de fundo do thumb */
  border-radius: 1px; /* Arredonda os cantos do thumb */
  border: 6px solid #000; /* Borda ao redor do thumb */
}

/* Altera o estado de hover do indicador de rolagem */
::-webkit-scrollbar-thumb:hover {
  background-color: #2f4f4f;
}
.link-ranking {
  width: 100%;
  margin: 35px auto;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.link-info {
  background-color: transparent;
  margin: 0 auto;
  margin-top: 20px;
}
.link-ranking img {
  width: 275px;
}
footer {
  text-align: center;
  margin: 5px auto;
  color: white;
  width: 90%;
  z-index: 995;
}
